.idea/
cache/
node_modules/
var/
vendor/
tests/coverage/
.DS_Store
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock
*.sqlite
.preload.php

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
